{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle propriété{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1 class="mb-4">Créer une nouvelle propriété</h1>

        {{ include('property/_from1.html.twig', {'button_label': 'Enregistrer'}) }}

        <div class="mt-4">
            <a href="{{ path('app_property_index') }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Retour à la liste
            </a>
        </div>
    </div>
{% endblock %}