# Force PHP 8.3
AddHandler application/x-httpd-php83 .php

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Redirect to URI without front controller
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]
    
    # If the requested filename exists, simply serve it
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule .? - [L]
    
    # Rewrite all other queries to the front controller
    RewriteRule .? %{ENV:BASE}/index.php [L]
</IfModule>
