{% extends 'base.html.twig' %}

{% block title %}Nouvelle Agence{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="card border-danger shadow-sm">
            <div class="card-body">
                <h1 class="card-title text-center mb-4 text-danger">Créer une Nouvelle Agence</h1>

                {{ include('agence/_form.html.twig') }}

                <div class="text-center mt-4">
                    <a href="{{ path('app_agence_index') }}" class="btn btn-danger">Retour à la liste</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
